/* The side navigation menu */
.sidenav {
    
    height: 100%; /* 100% Full-height */
    width: 0%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    
    
    display: block;
    transition: 0.3s
}



/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menubtn {
    position: fixed;
    top: 50%;
    left: 15px;
}


#menubtn:hover{
color:white;
cursor:pointer;

}


#menubtnclose:hover{
color:white;
cursor:pointer;

}
#menubtnclose{
position:absolute;
top:50%;
left:70%;
}



.submenu {
   
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1s ease-out;
}

.mainmenu li:hover .submenu {
    
  display: block;
  max-height: 100%;
}



